.toy-preview {
    width: 100px;
    height: 250px;
    border: 1px solid #3c1111;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    background-color: grey;
    cursor: pointer;
    box-shadow: 5px 5px 15px 6px rgba(0, 0, 0, 0.4);
}

.toy-preview h3 {
    margin-top: 50px;
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.edit-section {
    position: absolute;
    bottom: -95px;
    right: 45px;
    /* width: fit-content; */
}

.toy-preview p {
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    right: -40px;
    bottom: 52px;
    position: relative;
}

.detail {
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
    right: 20px;
    bottom: 105px;
    color: black;
    padding-left: 10px;
    display: inline-block;
}

.edit {
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
    right: 30px;
    bottom: 52px;
    color: black;
    padding-left: 10px;
    display: inline-block;
}